:root {
    --main-hue: 220;
    --main-color-1: hsl(var(--main-hue), 30%, 95%);
    --main-color-2: hsl(var(--main-hue), 90%, 90%);
    --main-color-3: hsl(var(--main-hue), 80%, 83%);
    --main-color-4: hsl(var(--main-hue), 60%, 70%);
    --main-color-5: hsl(var(--main-hue), 40%, 55%);
    --main-color-6: hsl(var(--main-hue), 40%, 40%);
    --main-color-7: hsl(var(--main-hue), 40%, 20%);
    --main-color-8: hsl(var(--main-hue), 10%, 15%);

    --title-text-color: var(--main-color-6);
    --text-color: var(--main-color-8);

    --shadow: 0 2px 4px hsl(0, 0%, 0%, 30%);
    --shadow-s: 0 1px 3px hsl(0, 0%, 0%, 30%);

    --border: solid 2px var(--main-color-5);
    --top-space: 41.5px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--main-color-1);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-color);
}

.top-bar {
    position: fixed;
    width: 100%;
    background: white;
    box-shadow: var(--shadow);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar__title-container {
    display: flex;
}

.top-bar__title {
    background: var(--main-color-3);
    color: var(--title-text-color);
    margin: 0;
    padding: 8px 12px 8px 16px;
    z-index: 2;
    font-size: 20px;
    cursor: default;
    user-select: none;
}

.top-bar__title-triangle {
    background: var(--main-color-3);
    aspect-ratio: 1 / 1;
    padding: 25%;
    transform: skewX(-45deg);
    margin-left: -25%;
    z-index: 1;
}

.top-bar__title-triangle-shadow {
    background-image: linear-gradient(to right,
            hsl(0, 0%, 0%, 100%),
            hsl(0, 0%, 0%, 100%),
            hsl(0, 0%, 0%, 0%));
    aspect-ratio: 1 / 1;
    padding: 25%;
    transform: skewX(-45deg);
    margin-left: calc(5px - 50%);
    z-index: 0;
}

.top-bar__container {
    margin: 0;
    padding: 0 16px;
    display: flex;
    justify-items: center;
    gap: 8px;
}

.button {
    font-weight: 700;
    padding: 8px 16px;
    outline: none;
    cursor: pointer;
    margin: 0;
}

.button_border {
    background: white;
    border: var(--border);
    color: var(--main-color-5);
}

@media (hover: hover) {
    .button_border:hover {
        background: var(--main-color-1);
    }
}

.button_border:active {
    background: var(--main-color-2);
}

.button_full {
    background: var(--main-color-5);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

@media (hover: hover) {
    .button_full:hover {
        background: var(--main-color-4);
    }
}

.button_full:active {
    background: var(--main-color-3);
}

.button_text {
    background: transparent;
    border: none;
    color: var(--main-color-5);
}

@media (hover: hover) {
    .button_text:hover {
        color: var(--main-color-4);
    }
}

.button_text:active {
    color: var(--main-color-3);
}

.button_margin_left {
    margin-left: auto;
}

.button_margin_right {
    margin-right: auto;
}

.button_wide {
    width: 100%;
}

.link {
    color: var(--main-color-6);
    cursor: pointer;
}

@media (hover: hover) {
    .link:hover {
        text-decoration: underline;
    }
}

.link:active {
    color: var(--main-color-4);
}

.page-content {
    margin: auto;
    padding: 16px;
    padding-top: var(--top-space);
    padding-top: calc(16px + var(--top-space));
    width: 1008px;
    min-height: 100vh;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .page-content {
        width: auto;
    }
}

.view {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.view__title {
    margin: 0px;
    font-size: 24px;
}

.view_form {
    width: 344px;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

@media (max-width: 360) {
    .view_form {
        width: auto;
    }
}

.view_small {
    width: 464px;
    margin: auto;
}

@media (max-width: 480px) {
    .view_small {
        width: auto;
    }
}

.view__actions {
    display: flex;
    width: 100%;
    gap: 8px;
    justify-content: flex-start;
    align-items: baseline;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.form__input {
    border: var(--border);
    outline: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

.form__input::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

.form__label {
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    margin-top: 8px;
    color: var(--main-color-6);
}

.view_note-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    flex-wrap: wrap;
    gap: 16px;
}

@media (max-width: 1024px) {
    .view_note-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 786px) {
    .view_note-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 480px) {
    .view_note-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 360px) {
    .view_note-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.note-card {
    height: auto;
}

.note-card__content {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.note-card__title {
    background: var(--main-color-3);
    border-top: solid 2px var(--main-color-2);
    box-shadow: var(--shadow);
    color: var(--title-text-color);
    font-size: 20px;
    margin: 0;
    padding: 8px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    flex-grow: 0;
}

.note-card__body {
    background: white;
    box-shadow: var(--shadow-s);
    color: var(--text-color);
    margin: 0;
    padding: 8px 16px;
    overflow: hidden;
}

.note-card__text-body {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5lh;
}

.note-editor {
    width: 464px;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 480px) {
    .note-editor {
        width: auto;
    }
}

.note-editor__title {
    border: var(--border);
    outline: none;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.note-editor__body {
    border: var(--border);
    outline: none;
    padding: 8px 16px;
    height: 300px;
    resize: none;
    font-size: 14px;
    color: var(--text-color);
}

.note-editor__actions {
    display: flex;
    width: 100%;
    gap: 8px;
    justify-content: flex-end;
}

.hidden {
    display: none;
}

.palette {
    display: flex;
}

.palette__color {
    width: 50px;
    height: 50px;
}
